body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

header {
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
}

header img {
  margin-left: 10px;
  height: 50px;
}

nav {
  text-align: right;
  /* Why doesn't the above work on it's own? Why do I need this? */
  flex-grow: 1
}

nav span {
  display: inline-block;
  padding: 20px 10px;
  text-decoration: underline;

}

.content-main {
    opacity: 0.9;
    width: 1200px;
    margin: auto;
}

#mission {
  height: 700px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
}

#mission .text {
  background-color: black;
  width: 100%;
  margin: auto;
}
.text h2, h4 {
  margin: 0;
  padding: 10px;
}

#inventory {
  width: 1000px;
  padding-top: 50px;
  margin: auto;
}

.items {
  display: flex;
  padding-bottom: 70px;
}

.item img {
  height: 200px;
  width: 300px;
  margin: 10px;
}

#locations {
  padding-top: 70px;
  height: 500px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
}

.location {
  padding: 10px;
  margin: 5px 20px;
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  background-color: black;
  opacity: 1;
}

#contact h2 {
  margin-top: 5px;
}

#contact {
  height: 200px;
}

footer {
    text-align: left;
    margin-left: 20px;
}
